{% extends "base.html" %}

{%block title%}Falcon-Dashboard{%endblock%}

{% block more_head %}
{{super()}}

<link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="/static/js/bootstrap-datetimepicker.js"></script>
<!-- <link href="/static/css/jquery.dataTables.css" rel="stylesheet"> -->
<link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/css/animate.min.css" rel="stylesheet">
<link href="/static/css/index.css?v=1" rel="stylesheet">
{% endblock %}

{% block body_head %} <body> {% endblock %}


{% block container %}
<div id="header" class="header--fixed hide-from-print">
    <div class="row">
        <div class="col-md-4">
            <select id="screenId"></select>
        </div>
        <div class="col-md-offset-6 col-md-2">
            <button type="button" class="btn btn-danger" id="hideOptions">隐藏选项</button>
            <button type="button" class="btn btn-danger" id="showOptions">显示选项</button>
        </div>
    </div>
</div>
<div class='row graphs' id='graphs'>
</div>
    
    <div class="row animated option--fixed" id="options">
        {% block endpoints_section%}
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                     <div class="panel panel-info">
                         <div class="panel-heading">
                             选择机器
                         </div>
                         <div class="panel-body">
                             <div class="row">
                                 <form role="form">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <select class="form-control input-sm" id="endpoints" multiple="multiple">
                                                {%for endpoint in endpoints%}
                                                <option value="{{endpoint}}">{{endpoint}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div>
                                    <label>全选下列机器</label>
                                    <div id="services"></div>
                                </div>
                            </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        {%endblock%}
    
        {% block counter_section%}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                     <div class="panel panel-info">
                         <div class="panel-heading">
                             选择监控项
                         </div>
                         <div class="panel-body">
                             <div class="row">
                                <div class="col-md-10">
                                    <form role="form">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <select class="form-control input-sm" id="counters" multiple="multiple">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-primary" id="submit">查看</button>
                                </div>
                            </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
        {% endblock %}
    
        {% block time_section%}
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            选择时间
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>开始时间</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" id="startTime" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>结束时间</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" id="endTime" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button type="button" class="selectTime btn-default btn-sm" id="1h" data-value="3600">一小时</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="selectTime btn-default btn-sm" id="6h" data-value="21600">六小时</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="selectTime btn-default btn-sm" id="12h" data-value="43200">半天</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="selectTime btn-default btn-sm" id="1d" data-value="86400">一天</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="selectTime btn-default btn-sm" id="1w" data-value="604800">一周</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn-info btn-sm" id="toLatest">最近</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
</div>

<script src="/static/js/echarts.old.js"></script>
<script src="/static/js/jquery.dataTables.js"></script>
<script src="/static/js/dataTables.bootstrap.min.js"></script>
<!-- <script src="/static/js/stickUp.min.js"></script> -->
<script src="/static/js/headroom.js"></script>
<script src="/static/js/jQuery.headroom.min.js"></script>
<script src="/static/js/index.js?v=1.0.0.0"></script>
{% endblock %}
